PORT=5000

DATABASE_URL="postgresql://postgres:your-postgres-password@localhost:5432/reachinbox"

REDIS_HOST=localhost
REDIS_PORT=6379

ELASTICSEARCH_URL="http://localhost:9200"

WORKER_CONCURRENCY=5
MIN_DELAY_MS=2000
MAX_EMAILS_PER_HOUR=200

ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587
ETHEREAL_USER=
ETHEREAL_PASSWORD=
EMAIL_FROM="ReachInbox Demo <no-reply@reachinbox.local>"